<div class="container shadow p-3 mb-5 bg-body" style="display: flex; align-items: center; flex-flow: column; width: 30%">
	<h3>Добро пожаловать в Catagram!</h3>
	<div>Catagram это сервис где вы можете делиться с фотографиями котиков.</div>
	<div style="display: flex; justify-content: space-between">
		<div style="padding: 8px">
			<button class="btn btn-primary" @onclick="NavigationService.ToPosts">К постам</button>
		</div>
		<div style="padding: 8px">
			<button class="btn btn-primary" @onclick="NavigationService.ToCreatePost">Создать пост</button>
		</div>
	</div>
</div>
