@if (_posts != null && _posts.Count != 0)
{
	<div class="container" style="display: flex; align-items: center; flex-flow: column">
		<MainFeed Posts="_posts" IsEdit="true"/>
	</div>
}
else
{
	@if (_posts != null && _posts.Count == 0)
	{
		<div class="d-flex justify-content-center">
			<span class="alert-info">Публикаций пока что нет(</span>
		</div>
	}
	else
	{
		<div class="d-flex justify-content-center">
			<div class="spinner-border" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	}
}

