<div class="container shadow p-3 mb-5 bg-body" style="display: flex; align-items: center; flex-flow: column; width: 50%">
	<div class="form-group">
		<div style="height: 60%; padding: 0 0 4px 0">
			<img src="@_uri" class="rounded mx-auto d-block" style="width: 100%"/>
		</div>
		<hr/>
		<EditForm Model="Post" OnSubmit="Save">
			<InputTextArea class="form-control" @bind-Value="@Post.Description"/>
			<div style="display:flex; justify-content: right; padding: 8px 0 0 0">
				<button type="submit" class="btn btn-outline-primary">
					Save
				</button>
				<button type="button" class="btn btn-outline-secondary">
					Cancel
				</button>
			</div>
		</EditForm>
	</div>
</div>